<p>watchlist-page works!</p>
<nav>
  <a routerLink="/list" class="button">Home</a>
  <a routerLink="/search" class="button">Search</a>
  <a routerLink="/watch" class="button">Watched</a>
</nav>

<section *ngFor="let movie of watchList; index as i">
  <h2>{{ movie.title }}</h2>
  <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" />
  <div class="info">
    <h4>Average rating: {{ movie.vote_average }}</h4>
    <label class="watchList"
      ><button class="watchButton">
        <i class="fas fa-film"></i></button
      >Remove from watch list</label
    >
  </div>
</section>
