<h3>Popular Movies</h3>
<main>
  <section
    class="movieSection grow"
    *ngFor="let movie of movies.results; index as i"
  >
    <div class="image">
      <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" />
    </div>
    <div class="info">
      <h3>{{ movie.title }}</h3>
      <h4>Average rating: {{ movie.vote_average }}</h4>
      <div class="info-btns">
        <button class="summary-btn" (click)="setIndex(i)">
          Summary
        </button>
        <label class="watchList">
          <button class="watchButton" (click)="addToWatchList(movie)">
            Add to Watchlist
            <i class="far fa-plus-square"></i></button
        ></label>
      </div>
    </div>
    <div class="movie-overview" *ngIf="index === i">
      {{ movie.overview }}
    </div>
  </section>
</main>
