<h1>Untitled movie app</h1>
<nav>
  <a routerLink="/list" class="button">Home</a>
  <a routerLink="/search" class="button">Search</a>
  <a routerLink="/watch" class="button">Watched</a>
</nav>

<script
  src="https://kit.fontawesome.com/8ebf573fa1.js"
  crossorigin="anonymous"
></script>
<section *ngFor="let movie of movies.results; index as i">
  <h2>{{ movie.title }}</h2>
  <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" />
  <div class="info">
    <h4>Average rating: {{ movie.vote_average }}</h4>
    <label class="watchList"
      ><button class="watchButton" (click)="addToWatchList(movie)">
        <i class="fas fa-film"></i></button
      >Add to watch list</label
    >
  </div>
</section>
<!-- <p>{{ movies.results[0].title }}</p> -->
